{% extends 'base.html.twig' %}
{% block title %}OPSSS ! ARTICLE NON TROUVÉE{% endblock %}
{% block body %}
<h1> OPSSS ! ARTICLE NON TROUVÉE <h1>
<p> l'article que vous cherchez n'est pas encore mis à jour </p>

{% endblock %}





