{% extends 'base.html.twig' %}
{% block body %}
{% if id ==1 %}
 <article>
 <h2> LOVE </h2>
 <div class="metadata" > Ecrit le 10/05/1997 à 19:00 dans la categorie Romance </div>
 <div class="content" >
 <p> Love is something we all would have experienced at some point of our lives. Be a silly crush, or an infatuation, your family, you name it- it is one affection that keeps you on your toes, spices up your dreams and last but not the least- you end up having a silly, joyous smile on your face most of the time. Ever thought why people act silly when in love?

Ever guessed what helps love to bloom in our minds?

Man is a social being and he loves to care and to be cared for. A small hug, a smile, an affectionate look, and a jovial talk round the dinner table with all your loved ones all can make you feel lighter, happier.</p>
<hr>
<p><h4>Love is as critical for your mind and body as oxygen. It's not
negotiable. The more connected you are, the healthier you will be both
physically and emotionally. The less connected you are, the more you are
at risk.

It is also true that the less love you have, the more depression
you are likely to experience in your life. Love is probably the best
antidepressant there is because one of the most common sources of
depression is feeling unloved. Most depressed people don't love
themselves and they do not feel loved by others. They also are very
self-focused, making them less attractive to others and depriving them of
opportunities to learn the skills of love.

There is a mythology in our culture that love just happens. As a
result, the depressed often sit around passively waiting for someone to
love them. But love doesn't work that way. To get love and keep love you
have to go out and be active and learn a variety of specific
skills.</h4></p>
</div>
{% elseif id ==2 %}
 <article>
 <h2> EDUCATION</h2>
 <div class="metadata" > Ecrit le 10/05/1997 à 19:00 dans la categorie Romance </div>
 <div class="content" >
 <p> La philosophie représente un coefficient 4 pour les candidats au bac technologique et un coefficient 8 pour les candidats au bac général sur un total de 100.
  L’an dernier, l’épreuve de philo avait été aménagée en raison de la crise sanitaire du Covid-19 : c’est la meilleure note qui était retenue, entre celle obtenue à l’épreuve et celle du contrôle continu, à condition d’avoir rendu sa copie.
   Cette année, seule compte la note de l’épreuve du 15 juin.</p>
</div>
<hr>
<p><h4>Love is as critical for your mind and body as oxygen. It's not
negotiable. The more connected you are, the healthier you will be both
physically and emotionally. The less connected you are, the more you are
at risk.

It is also true that the less love you have, the more depression
you are likely to experience in your life. Love is probably the best
antidepressant there is because one of the most common sources of
depression is feeling unloved. Most depressed people don't love
themselves and they do not feel loved by others. They also are very
self-focused, making them less attractive to others and depriving them of
opportunities to learn the skills of love.

There is a mythology in our culture that love just happens. As a
result, the depressed often sit around passively waiting for someone to
love them. But love doesn't work that way. To get love and keep love you
have to go out and be active and learn a variety of specific
skills.Bullying occurs everywhere, even in the highest-performing schools, 
and it is hurtful to everyone involved, from the targets of bullying to the witnesses—and even to bullies themselves.
 October is National Bullying Prevention Month, so it’s a good time to ask ourselves: What are the best practices for preventing bullying in schools? That’s a question I explored with my colleague Marc Brackett from the Yale Center for Emotional Intelligence, in a recent paper that reviewed dozens of studies of real-world bullying prevention efforts.

As we discovered, not all approaches to bullying prevention are equally effective. Most bullying prevention programs focus on raising awareness of the problem and administering consequences. But programs that rely on punishment and zero tolerance have not been shown to be effective in the U.S.; and they often disproportionately target students of color. Programs like peer mediation that place responsibility on the children to work out conflicts can increase bullying. (Adult victims of abuse are never asked to “work it out” with their tormentor, and children have an additional legal right to protections due to their developmental status.) Bystander intervention, even among adults, only works for some people—extroverts, empaths, and people with higher social status and moral engagement. Many approaches that educators adopt have not been evaluated through research; instead, educators tend to select programs based on what their colleagues use.</h4></p>
</div>
{% elseif id >= 3 %}
<br> <br> <br>
<h3 >Article introuvable </h3>
    
{% endif %}

{% endblock %}