{# {% extends 'base.html.twig' %}


{% block title %}Hello FormController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 5px 10px; }

</style>

 <h1> Papier créer avec succés </h1>
 {% endblock %} #}